body {
  background-color: #87986a;
  color: #004b23;
  font-size: 16px;
  font-family: Baskerville;
  letter-spacing: 2px;
  line-height: 1.6;
}

body {
  text-align: center;
}

h2{
  font-size: 12px;
  font-weight: 500px;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.container {
  width: 500px;
  margin: 0 auto;
}


@media (max-width: 960px) {
  .container {
    width: 350px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 200px;
  }
}

.card{
  background: #e9f5db;
  padding: 30px;
  border: 1px solid lightgrey;
}

.list-inline{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.img-circle{
  border-radius: 50%;
}
